<!DOCTYPE html>
<html lang="en" class="h-100">

    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon"
        type="image/png"
        href="../static/sock-icon.png">

        <title>Sock Generator</title>

        <!-- Bootstrap core CSS -->
        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

        <!-- Custom styles for this template -->
        <link href="../static/websock.css" rel="stylesheet">

    </head>
    <body class="d-flex flex-column h-100">

      <nav class="navbar navbar-expand-lg fixed-top bg-secondary">
        <div class="container-fluid">
          <a class="navbar-brand text-light" href="/">
            <img src="../static/sock-icon.png" style="max-height: 30px;"/> Sock Generator</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Resources and tutorials
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/foot-measurement-charts">Foot measurement charts</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item" href="/links">All tutorials</a></li>
                  <li class="divider"></li>
                  <li><a class="dropdown-item"href="/links#Basic">Sock construction</a></li>
                  <li><a class="dropdown-item"href="/links#Provisional">Provisional cast ons</a></li>
                  <li><a class="dropdown-item"href="/links#magicloop">Magic loop knitting</a></li>
                  <li><a class="dropdown-item" href="/links#shortrows">Short rows</a></li>
                  <li><a class="dropdown-item" href="/links#castoffs">Stretchy cast offs</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav>

      <div class="wrapper">
        <main role="main" class="container-fluid">
          {% block content %}Need to define a block!{% endblock content %}
        </main>
      </div>   


    <footer class="footer mt-auto py-1 bg-light">
      <div class="container">
        <span class="text-secondary">
          <img class="photo" src="../static/becky.jpg">
         About me: I'm rebkwok on <a href="http://www.ravelry.com/designers/becky-smith">Ravelry</a> and <a href="https://twitter.com/rebkwok">Twitter</a>.
        </span>
      </div>
    </footer>

  </body>


<!----Javascript ------->
<!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>
    
{% block javascript %}
{% endblock javascript %}

</html>