{% extends "_base.html" %}


{% block content %}

    <div class="container-fluid row">

    <div class="page-header row">
        <div class="col-sm-12">
            <h2>Foot Measurements by Shoe Size</h2>
        </div>
    </div>

    <div class="col-xs-12">

    <div class="col-sm-12">
        <h3>Womens</h3>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>UK</th>
            <th>EU</th>
            <th>US</th>
            <th>Length (in/cm)</th>
            <th>Circumference (in/cm)</th>
            <th>Instep (in/cm)</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>3</td>
                <td>35/36</td>
                <td>5</td>
                <td>8 9/16″ / 21.6cm</td>
                <td>8.25″ / 21cm</td>
                <td>9″ / 22.9cm</td>
            </tr>
            <tr>
                <td>3.5</td>
                <td>36</td>
                <td>5.5</td>
                <td>8.75″ / 22.2cm</td>
                <td>8.3″ / 21.1cm</td>
                <td>9.1″ / 23.1cm</td>
            </tr>
            <tr>
                <td>4</td>
                <td>36/37</td>
                <td>6</td>
                <td>8.875″/ 22.5cm</td>
                <td>8.4″ / 21.3cm</td>
                <td>9.25″/ 23.5cm</td>
            </tr>
            <tr>
                <td>4.5</td>
                <td>37</td>
                <td>6.5</td>
                <td>9″ / 23cm</td>
                <td>8.5″ / 21.6cm</td>
                <td>9.4″ / 23.9cm</td>
            </tr>
            <tr>
                <td>5</td>
                <td>37/38</td>
                <td>7</td>
                <td>9.25″ / 23.5cm</td>
                <td>8.75″ / 22.2cm</td>
                <td>9.7″ / 24.6cm</td>
            </tr>
            <tr>
                <td>5.5</td>
                <td>38</td>
                <td>7.5</td>
                <td>9.375″ / 23.8cm</td>
                <td>8.9″ / 22.6cm</td>
                <td>9.8″ / 24.9cm</td>
            </tr>
            <tr>
                <td>6</td>
                <td>38/39</td>
                <td>8</td>
                <td>9.5″ / 24.1cm</td>
                <td>9″ / 22.9cm</td>
                <td>9.9″ / 25.1cm</td>
            </tr>
            <tr>
                <td>6.5</td>
                <td>39</td>
                <td>8.5</td>
                <td>9.6875″ / 24.6cm</td>
                <td>9.2″ / 23.4cm</td>
                <td>10.1″ / 25.7cm</td>
            </tr>
            <tr>
                <td>7</td>
                <td>39/40</td>
                <td>9</td>
                <td>9.875″ / 25.1cm</td>
                <td>9.4″ / 23.8cm</td>
                <td>10.3″ / 26.2cm</td>
            </tr>
            <tr>
                <td>7.5</td>
                <td>40</td>
                <td>9.5</td>
                <td>10″ / 25.4cm</td>
                <td>9.5″ / 24.1cm</td>
                <td>10.5″ / 26.7cm</td>
            </tr>
            <tr>
                <td>8</td>
                <td>40/41</td>
                <td>10</td>
                <td>10.1875" / 25.9cm</td>
                <td>9.7″ / 24.6cm</td>
                <td>10.6″ / 26.9cm</td>
            </tr>
            <tr>
                <td>8.5</td>
                <td>41</td>
                <td>10.5</td>
                <td>10.375″ / 26.2cm</td>
                <td>9.8″ / 24.9cm</td>
                <td>10.8″ / 27.4cm</td>
            </tr>
            <tr>
                <td>9</td>
                <td>41/42</td>
                <td>11</td>
                <td>10.5″ / 26.7cm</td>
                <td>10″ / 25.4cm</td>
                <td>11″ / 27.9cm</td>
            </tr>
            <tr>
                <td>9.5</td>
                <td>42</td>
                <td>11.5</td>
                <td>10.6875″ / 27.1cm</td>
                <td>10.2″ / 25.9cm</td>
                <td>11.2″ / 28.4cm</td>
            </tr>
            <tr>
                <td>10</td>
                <td>42/43</td>
                <td>12</td>
                <td>10.875″ / 27.6cm</td>
                <td>10.3″ / 26.2cm</td>
                <td>11.4″ / 29cm</td>
            </tr>
        </tbody>

    </table>

        <div class="col-sm-12">
        <h3>Mens</h3>
    </div>

    <table class="table table-bordered">
        <thead>
        <tr>
            <th>UK</th>
            <th>EU</th>
            <th>US</th>
            <th>Length (in/cm)</th>
            <th>Circumference (in/cm)</th>
            <th>Instep (in/cm)</th>
        </tr>
        </thead>

        <tbody>
            <tr>
                <td>5.5</td>
                <td>39</td>
                <td>6</td>
                <td>9.25″ / 23.5cm</td>
                <td>9″ / 22.86cm</td>
                <td>10″ / 25.4cm</td>
            </tr>
            <tr>
                <td>6</td>
                <td>39/40</td>
                <td>6.5</td>
                <td>9.5″ / 24.1cm</td>
                <td>9″ / 22.86cm</td>
                <td>10″ / 25.4cm</td>
            </tr>
            <tr>
                <td>6.5</td>
                <td>40</td>
                <td>7</td>
                <td>9.625″ / 24.4cm</td>
                <td>9.2″ / 23.4cm</td>
                <td>10.1″ / 25.6cm</td>
            </tr>
            <tr>
                <td>7</td>
                <td>40/41</td>
                <td>7.5</td>
                <td>9.75″ / 24.8cm</td>
                <td>9.25″ / 23.5cm</td>
                <td>10.2″ / 25.9cm</td>
            </tr>
            <tr>
                <td>7.5</td>
                <td>41</td>
                <td>8</td>
                <td>9.9375″ / 25.4cm</td>
                <td>9.5″ / 24.1cm</td>
                <td>10.4″ / 26.4cm</td>
            </tr>
            <tr>
                <td>8</td>
                <td>41/42</td>
                <td>8.5</td>
                <td>10.125" / 25.7cm</td>
                <td>9.5″ / 24.1cm</td>
                <td>10.4″ /  26.4cm</td>
            </tr>
            <tr>
                <td>8.5</td>
                <td>42</td>
                <td>9</td>
                <td>10.25″ / 26cm</td>
                <td>9.75″ / 24.8cm</td>
                <td>10.75″ / 27.3cm</td>
            </tr>
            <tr>
                <td>9</td>
                <td>42/43</td>
                <td>9.5</td>
                <td>10.4375″ / 26.7cm</td>
                <td>9.9″ / 25.1cm</td>
                <td>10.9″ / 27.7cm</td>
            </tr>
            <tr>
                <td>9.5</td>
                <td>43</td>
                <td>10</td>
                <td>10.5265″ / 27cm</td>
                <td>10″ / 25.4cm</td>
                <td>11″ / 27.9cm</td>
            </tr>
            <tr>
                <td>10</td>
                <td>43/44</td>
                <td>10.5</td>
                <td>10.75″ / 27.3cm</td>
                <td>10.2″ / 25.9cm</td>
                <td>11.2″ / 28.4cm</td>
            </tr>
            <tr>
                <td>10.5</td>
                <td>44</td>
                <td>11</td>
                <td>10.9375″ / 27.9cm</td>
                <td>10.4″ / 26.4cm</td>
                <td>11.4″ / 29cm</td>
            </tr>
            <tr>
                <td>11</td>
                <td>44/45</td>
                <td>11.5</td>
                <td>11.1625″ / 28.3cm</td>
                <td>10.6″ / 26.9cm</td>
                <td>11.7″ / 29.7cm</td>
            </tr>
            <tr>
                <td>11.5</td>
                <td>45</td>
                <td>12</td>
                <td>11.25″ / 28.6cm</td>
                <td>10.7″ / 27.2cm</td>
                <td>11.75″ / 29.8cm</td>
            </tr>
            <tr>
                <td>12</td>
                <td>45/46</td>
                <td>12.5</td>
                <td>11.5″ / 29.2cm</td>
                <td>10.9″ / 27.7cm</td>
                <td>12″ / 30.5cm</td>
            </tr>
            <tr>
                <td>12.5</td>
                <td>46</td>
                <td>13</td>
                <td>11.5625″ / 29.5cm</td>
                <td>11″ / 27.9cm</td>
                <td>12″ / 30.5cm</td>
            </tr>
            <tr>
                <td>13</td>
                <td>46/47</td>
                <td>13.5</td>
                <td>11.75″ / 30.2cm</td>
                <td>11.1″ / 28.2cm</td>
                <td>12.2″ / 31cm</td>
            </tr>
        </tbody>

    </table>

    </div>


      <div class="row link-section">
        <h5 class="anchorspace">Sources:</h5>
        <ul>
            <li><a href="http://www.sizecharter.com/clothing-fit-and-measurement/understanding-shoe-sizing">Foot length by shoe size</a></li>
            <li><a href="http://knittyblog.com/2012/07/foot-sizing-survey-results-contest/">Foot measurements</a></li>
        </ul>
    </div>




{% endblock content %}
