{% extends "_base.html" %}


{% block content %}

    <div class="row">
        <div class="page-header">
            <div class="col-sm-11">
            <h2>Sock Pattern Generator</h2>
                <p>
                   A knitting pattern generator for socks to fit feet of any size!  These socks are knit toe-up with a short-row
                    toe and heel. <br><br>
                    This is a very basic recipe for making a sock, and assumes you are already familiar with sock-making in
                    general and with techniques such as provisional cast on and short rows.  Choose your preferred method
                    or take a look at the <a href="/links">useful links</a> page. <br><br>
                    No particular stitch pattern is suggested for the sock instep or leg.  Choose your own after you finish the toe.
                    A simple ribbing pattern always works well. <br><br>

                    If you are using a stitch pattern, enter the number of stitches you need your total stitches to be divisible by.
                    Your total stitches will be twice the number of stitches you cast on for the toe.  If you need an even number of
                    pattern repeats, enter twice your pattern repeat number in the "divisible by" field.  (E.g. if you have a 4 stitch
                    pattern repeat, and you want an even number of repeats, enter 8 in the divisible by field.  Note that the larger this
                    number, the further your stitch count may diverge from the count calculated from your gauge.
                </p>
            </div>
        </div>
    </div>

      <div class="row page-header">
         <div class="col-sm-11">
            <h3>Yarn and foot details</h3>
        </div>
     </div>
        <form id="pattern-form" class="row form-horizontal" role="form" name="myform" method="get">
            <div class="col-sm-6">
            <div class="form-group">
                <label for="input units" class="col-sm-3 control-label">Units</label>
                <div class="col-sm-3">
                    <select id="units" class="form-control" name="units" value="update" >
                        <option value="inches" {% if data.units == 'inches' %}selected{% endif %} >Inches</option>
                        <option value="cms" {% if data.units == 'cms' %}selected{% endif %}>Centimetres</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="horizontal gauge" class="col-sm-3 control-label">Horizontal gauge</label>
                <div class="col-sm-3">
                    <input class="form-control {% if 'stitches' in error_list %}formerr{% endif %}" name="stitches" type="text" value="{{ data.stitches }}">
                </div>
                <span class="help-block">Stitches per
                    {% if data.units == 'inches' %}4"{% else %}10cm{% endif %}</span>
            </div>
            <div class="form-group">
                <label for="vertical gauge" class="col-sm-3 control-label">Vertical gauge</label>
                <div class="col-sm-3">
                    <input class="form-control {% if 'rows' in error_list %}formerr{% endif %}" name="rows" type="text"  value="{{ data.rows }}">
                </div>
                <span class="help-block">Rows per
                    {% if data.units == 'inches' %}4"{% else %}10cm{% endif %}</span>
            </div>
            <div class="form-group">
                <label for="circumference" class="col-sm-3 control-label">Circumference</label>
                <div class="col-sm-3">
                    <input class="form-control {% if 'circum' in error_list %}formerr{% endif %}" name="circum" type="text" value="{{ data.circum }}">
                </div>
                <span class="help-block">Circumference around widest part of foot in
                {{ data.units }}</span>
            </div>
            <div class="form-group">
                <label for="foot length" class="col-sm-3 control-label">Foot length</label>
                <div class="col-sm-3">
                    <input class="form-control {% if 'foot_length' in error_list %}formerr{% endif %}" name="foot_length" type="text" value="{{ data.foot_length }}">
                </div>
                <span class="help-block">Length of foot in {{ data.units }}</span>
            </div>
            <div class="form-group">
                <label for="ease" class="col-sm-3 control-label">Ease</label>
                <div class="col-sm-3">
                    <input class="form-control {% if 'ease' in error_list %}formerr{% endif %}" name="ease" type="text" value="{{ data.ease }}">
                </div>
                <span class="help-block">Ease as % of total number of stitches (enter -ve value for negative ease)</span>
            </div>
            <div class="form-group">
                <label for="divisible_by" class="col-sm-3 control-label">Divisible by</label>
                <div class="col-sm-3">
                    <input class="form-control {% if 'divisible_by' in error_list %}formerr{% endif %}" name="divisible_by" type="text" value="{{ data.divisible_by }}">
                </div>
                <span class="help-block">Number of stitches in pattern repeat</span>
            </div>
                <div class="btn-group-sm">
                    <label class="col-sm-3 control-label"></label>
                    <button id="generate-button" class="btn btn-info" >Generate Pattern</button>
                    <a class="btn btn-info" href="/">Reset Form</a>
                </div>
             </div>
            <div class="col-sm-5">
                <img class="img-responsive" src="../static/socks.jpg">
            </div>
        </form>



{% endblock content %}

{% block javascript %}

<script src="../static/socks.js"></script>

{% endblock javascript %}